* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    background-color: #081b29;
    background-size: cover;
    background-attachment: fixed;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
    color: #0ef;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #051129;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    z-index: 1;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    transition: 0.5s ease;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 100px 10%;
    min-height: 100vh;
    background-color: #051129;
    display: flex;
}
.about-text h2 {
    font-size: 60px;
}
.about-text {
    text-align: left;
    width: 60%;
}
.about-text p {
    gap: 5px;
    text-align: left;
    font-size: 20px;
}
.about-img {
    position: absolute;
    right: 0px;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-right: 140px;
    margin-top: 120px;
}
.about-img img {
    max-width: 100%;
    height: auto;
}
.education ul {
    list-style-type: none;
    padding: 0;
}
.education li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-size: 18px;
}
.education li strong {
    margin-right: 8px;
}
.education h3 {
    font-size: 60px;
    margin-bottom: 20px;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    padding: 90px;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read-hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}
.service-list div:hover {
    transform: translateY(-10px);
}
.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.sub-title {
    text-align: left;
    margin-left: 300px;
    margin-top: 20px;
}
#skills {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.container1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 100px 10%;
}
.skills-list {
    list-style-type: none;
    padding: 0;
    width: 45%;
    font-size: 18px;
    margin-left: 20px;
}
.skill-item {
    margin-bottom: 10px;
    text-align: left;
    font-size: 23px;
    gap: 10px;
}
.interest {
    width: 45%;
    padding-left: 20px;
    font-size: 18px;
    margin-left: 20px;
}
.interest h1 {
    margin-bottom: 15px;
    font-size: 50px;
}
.interest ul {
    list-style-type: none;
    padding: 0;
}
.interest li {
    margin-bottom: 10px;
}
#projects {
    text-align: center;
    padding: 40px 20px;
}
#projects h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}
#projects h5 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}
#projects p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ffffff;
}
.portfolio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.main-text {
    margin-bottom: 40px;
}
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    background-color: #051129;
    background-size: cover;
    background-attachment: fixed;
}
.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list {
    margin-bottom: 3rem;
}
.contact-list li {
    margin-bottom: 10px;
    display: block;
}
.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.40s ease;
}
.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}
.contact-form form {
    position: relative;
}
.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form input,
form text,
textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #fffafa;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}
